<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='new.css') }}">
</head>
<body>
        <script src="new.css"></script>
    <div class="cotn_principal">
        <div class="cont_centrar">
        
          <div class="cont_login">
        <div class="cont_info_log_sign_up">
              <div class="col_md_login">
        <div class="cont_ba_opcitiy">
                
              <h2>LOGIN</h2>
          <p> Log In To Find Your Destiny And Find Your Suitable Job/Career </p> 
          <a href="sign_in.html"> <button class="btn_login" onclick="cambiar_login()">LOGIN</button></a>
          </div>
          </div>
        <div class="col_md_sign_up">
        <div class="cont_ba_opcitiy">
          <h2>SIGN UP</h2>
        
          
          <p> Newbies Are Ready To Find Your Career </p>
        
          <a href="reg_page.html">  <button class="btn_sign_up" onclick="cambiar_sign_up()">Register</button></a>
        </div>
          </div>
               </div>
      
            
            <div class="cont_back_info">
               <div class="cont_img_back_grey">
               <img src="signup/login.jpg" alt="" />
               </div>
               
            </div>
        <div class="cont_forms" >
            <div class="cont_img_back_">
               <img src="signup/login.jpg" alt="" />
               </div>
     
          
 
        
            </div>
            
            
          </div>
         </div>
        </div>
    
            

</body>
</html>